/*
.page-content {
    overflow: hidden;
}
.table{
    position: absolute;
    top:20%;
    left: 18.5%;
  /*  background-color: rgba(107, 107, 107, 0.4); */
/*
 
  background-color: transparent;
    
}
.table td{
   color: white;
   font-size: 16px;
}
.id{
    color: white;
   font-size: 16px;
}
.page-content img{
    filter: brightness(30%);
    object-fit: cover;
    position: fixed;
}

*/
.table {
  background-image: url(login/img/itm-merida-fondo.webp);
  background-size: cover;
  background-position: fixed;
  background-color: rgba(107, 107, 107, 0.9);
}
.table td {
  color: white;
  font-size: 16px;
  background-color: rgba(58, 58, 58, 0.8);
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.9);
}
.id {
  color: white;
  font-size: 16px;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.9);
}
th[scope="row"] {
  background-color: rgba(94, 40, 40, 0.8);
}

.carousel-item {
  filter: brightness(100%);
}

/* -------------ACERCA DE SINASU----------- */

.botones-inicio-sinasu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.btn-inicio-sinasu {
  background-color: #008f5a;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100px; */
  height: 45px;
  padding: 20px;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  font-family: var();
  font-size: 16px;
  font-weight: 400;
  transition: all 0.7s;
}
.btn-inicio-sinasu:hover {
  background-color: #9889fe;
  color: white;
  transform: scale(1.15);
}

.btn-inicio-historial {
  background-color: #008f5a;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100px; */
  height: 45px;
  padding: 20px;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  font-family: var();
  font-size: 16px;
  font-weight: 400;
  transition: all 0.7s;
}
.btn-inicio-historial:hover {
  background-color: #195a78;
  color: white;
  transform: scale(1.15);
}
/* ESTILOS PARA SUBIR ARCHIVOS EXCEL */
.cuerpo_subir {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.drop-area {
  border: 5px dashed #dedede;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.subir {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drop-area.active {
  background-color: #b8d4fe;
  color: black;
  border: 2px dashed #618ac9;
}
.drop-area h2 {
  font-size: 30px;
  font-weight: 500;
  color: #000;
}
.drop-area span {
  font-size: 25px;
  font-weight: 500;
  color: #000;
}
.drop-area button {
  padding: 10px 25px;
  font-size: 20px;
  border: 0;
  outline: none;
  background-color: #5256ad;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.file-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: solid 1px #ddd;
}
#preview {
  margin-top: 10px;
}

.status-text {
  padding: 0 10px;
}

.success {
  color: #52ad5a;
}

.failure {
  color: #ff0000;
}

.fa-circle-xmark {
  color: #ff0000;
}
