/*
.page-content {
    overflow: hidden;
}
.table{
    position: absolute;
    top:20%;
    left: 18.5%;
  /*  background-color: rgba(107, 107, 107, 0.4); */
/*
 
  background-color: transparent;
    
}
.table td{
   color: white;
   font-size: 16px;
}
.id{
    color: white;
   font-size: 16px;
}
.page-content img{
    filter: brightness(30%);
    object-fit: cover;
    position: fixed;
}

*/
.table {
  background-image: url(login/img/itm-merida-fondo.webp);
  background-size: cover;
  background-position: fixed;
  /* color: #358151b2; */
  /* background-color: rgba(107, 107, 107, 0.9); */
}
.table td {
  /* color: white; */
  color: #fcfff1;
  font-size: 16px;
  background-color: rgba(58, 58, 58, 0.8);
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
}
.id {
  color: white;
  font-size: 16px;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.9);
}
th[scope="row"] {
  background-color: rgba(94, 40, 40, 0.8);
}

.carousel-item {
  filter: brightness(100%);
}

/* -------------ACERCA DE SINASU----------- */

.botones-inicio-sinasu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.btn-inicio-sinasu {
  background-color: #008f5a;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100px; */
  height: 45px;
  padding: 20px;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  font-family: var();
  font-size: 16px;
  font-weight: 400;
  transition: all 0.7s;
}
.btn-inicio-sinasu:hover {
  background-color: #9889fe;
  color: white;
  transform: scale(1.15);
}

.btn-inicio-historial {
  background-color: #008f5a;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100px; */
  height: 45px;
  padding: 20px;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  font-family: var();
  font-size: 16px;
  font-weight: 400;
  transition: all 0.7s;
}
.btn-inicio-historial:hover {
  background-color: #195a78;
  color: white;
  transform: scale(1.15);
}

.botones-manual {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
  gap: 15px;
}

.btn-generar-manual {
  /* background-color: rgb(95, 202, 24, 0.8); */
  /* background-color: rgba(79, 135, 41, 0.8); */
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  text-decoration: none;
  color: grey !important;
  border-radius: 0;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
  gap: 10px;
  border-right: 1.5px rgb(182, 182, 182) solid;
}
.btn-generar-manual:hover {
  /* background-color: rgb(100, 220, 19); */
  background-color: rgba(100, 151, 46, 0.7);
  color: white !important;
  border-right: none;
  border-radius: 2px;
  transform: scale(1.05);
}

.btn-manual-validas {
  /* background-color: rgba(54, 96, 128, 0.8); */
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: grey !important;
  border-radius: 0;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
  transition: all 0.5s;
}
.btn-manual-validas:hover {
  background-color: #2849644d;
  color: white !important;
  border-radius: 2px;
  transform: scale(1.1);
}

.btn-manual-pendiente {
  /* background-color: rgba(239, 84, 13, 0.8); */
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  text-decoration: none;
  color: grey !important;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
  transition: all 0.5s;
  border-left: 1.5px rgb(182, 182, 182) solid;
}
.btn-manual-pendiente:hover {
  background-color: rgb(40, 73, 100, 0.3);
  color: white !important;
  border-left: none;
  border-radius: 2px;
  transform: scale(1.05);
}

.btn-reportes-configuracion {
  /* background-color: rgba(54, 96, 128, 0.8); */
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-decoration: none;
  color: grey !important;
  border-radius: 0;
  font-size: 20px;
  font-weight: 600;
  gap: 10px;
  transition: all 0.5s;
  border-bottom: 1px rgb(168, 168, 168) solid;
}
.btn-reportes-configuracion:hover {
  /* background-color: #2849644d; */
  background-color: #02353b4d;
  color: white !important;
  border-radius: 2px;
  transform: scale(1.1);
}

/* ESTILOS PARA PROYECTO HISTORIAL DE MANUALES--------------- */
.modificado {
  color: greenyellow;
}

.td-celda-icono-estatus {
  text-align: center;
  transition: all 0.5s;
}
.td-celda-icono-estatus:hover {
  transform: scale(1.05);
}
.td-celda-icono-estatus i {
  font-size: 15px;
}
.td-celda-icono-estatus a {
  text-decoration: none;
  color: inherit;

  display: inline-block;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.td-celda-rpu {
  text-align: right;
  background-color: rgba(159, 121, 51, 0.801);
  transition: all 0.5s;
}

/* .td-celda-rpu:hover {
  transform: scale(1.05);
} */

.celda {
  cursor: pointer;
  /* background-color: rgba(255, 53, 53, 0.8); */
  /* background-color: rgba(245, 174, 22, 0.9); */
}

/* FORMATO Y ESTILOS DE TABLAS Y LA LISTA QUE SEA CREA PARA RESUMIR LAS TABLAS SE ENCUENTRA EN
:afterhttp://localhost/Proyecto-cfe/public/app/publico/css/lib/datatables-net/datatables.min.css */

.fechas {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  /* border: 1px red solid; */
}

/* ESTILOS PARA LOS NOMBRES DE USUARIO EN SESION------------------------------------------------- */

.nombres-usuarios {
  font-size: 20px;
  font-weight: 600;
  color: rgb(162, 238, 114);
  /* color: #294835b2; */
}

.nombres-usuarios-negativas {
  font-size: 20px;
  font-weight: 600;
  color: #ff6213;
  /* color: #294835b2; */
}

/* ESTILOS PARA SECCION DE ESTADISTICOS CFE CONTROL DE HISTORIALES------------------------- */
/* .columna-resumen-color {
  background-color: transparent;
}
.columna-resumen:hover .columna-resumen-color {
  background-color: rgba(71, 71, 71, 0.505);
  color: green;
} */
/* 
.celda-resumen {
  color: #b0ea00;
} */

/* CSS PARA BOTONES ------------------------------- */

.portfolio-experiment {
  /* background: #2d2d2d; */
  background: transparent;

  a {
    color: white;
    background: #2d2d2d;
    padding: 1.2em calc(1.2em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 0.07em;

    .text {
      /* font-family: proxima-nova, monospace; */
      font-family: var(--txt-titulo);
      transform: translate3d(0, 0.7em, 0);
      display: block;
      transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
      color: whitesmoke;
    }

    &:after {
      position: absolute;
      content: "";
      bottom: -3px;
      left: calc(0.7em * 1.2);
      right: calc(0.7em * 1.2);
      height: 3px;
      /* background: #f26522; */
      background: #b0ea00;
      transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s,
        right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s,
        left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
      transform-origin: left;
    }
  }

  .line {
    position: absolute;
    /* background: #f26522; */
    background: rgb(176, 234, 0);

    &.-right,
    &.-left {
      width: 3px;
      bottom: -3px;
      top: -3px;
      transform: scale3d(1, 0, 1);
    }

    &.-top,
    &.-bottom {
      height: 3px;
      left: -3px;
      right: -3px;
      transform: scale3d(0, 1, 1);
    }

    &.-right {
      right: -3px;
      transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
      transform-origin: top;
    }

    &.-top {
      top: -3px;
      transition: transform 0.08s linear 0.43s;
      transform-origin: left;
    }

    &.-left {
      left: -3px;
      transition: transform 0.08s linear 0.51s;
      transform-origin: bottom;
    }

    &.-bottom {
      bottom: -3px;
      transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
      transform-origin: right;
    }
  }

  a:hover,
  a:active {
    .text {
      transform: translate3d(0, 0, 0);
      transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }

    &:after {
      transform: scale3d(0, 1, 1);
      right: -3px;
      left: -3px;
      transform-origin: right;
      transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s,
        right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
    }

    .line {
      transform: scale3d(1, 1, 1);

      &.-right {
        transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
        transform-origin: bottom;
      }

      &.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: right;
      }

      &.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: top;
      }

      &.-bottom {
        transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
        transform-origin: left;
      }
    }
  }
}

/* FOMULARIO PARA GENERAR MANUALES------------------------ */

#formulario_manuales {
  /* border: 2px red solid; */
  height: 80%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px; */
  /* color: rgba(255, 141, 20, 0.8); */
}

/* CODOGO PARA CONFIRMACION DE MODIFICACION ------------------------- */

.confirmacion {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.confirmacion-contenido {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.botones {
  margin-top: 20px;
}

.btn-confirmar,
.btn-cancelar {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.btn-confirmar {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-cancelar {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
}

tr {
  display: table-row; /* Asegura que todas las filas se muestren como filas de tabla */
}

#header-row {
  position: sticky;
  top: 0;
  /* Fija la fila en la parte superior de la tabla */
  z-index: 1;
  /* Asegura que la fila esté encima del contenido de la tabla */
  background-color: #ffffff;
  /* Color de fondo de la fila */
}
