/* .page-content {
  overflow: hidden;
}
.table {
  position: absolute;
  top: 20%;
  left: 18.5%;
} */
/*  background-color: rgba(107, 107, 107, 0.4); */
/*

  background-color: transparent;

}
.table td{
   color: white;
   font-size: 16px;
}
.id{
    color: white;
   font-size: 16px;
}
.page-content img{
    filter: brightness(30%);
    object-fit: cover;
    position: fixed;
}



.table {
  background-image: url(login/img/itm-merida-fondo.webp);
  background-size: cover;
  background-position: fixed;
  background-color: rgba(107, 107, 107, 0.9);
}
.table td {
  color: white;
  font-size: 16px;
  background-color: rgba(58, 58, 58, 0.8);
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.9);
}
.id {
  color: white;
  font-size: 16px;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.9);
}
th[scope="row"] {
  background-color: rgba(94, 40, 40, 0.8);
}

.carousel-item {
  filter: brightness(100%);
}

/* -------------ACERCA DE SINASU----------- */

.botones-inicio-sinasu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.btn-inicio-sinasu {
  background-color: #008f5a;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100px; */
  height: 45px;
  padding: 20px;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  font-family: var();
  font-size: 16px;
  font-weight: 400;
  transition: all 0.7s;
}
.btn-inicio-sinasu:hover {
  background-color: #9889fe;
  color: white;
  transform: scale(1.15);
}

.btn-inicio-historial {
  background-color: #008f5a;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100px; */
  height: 45px;
  padding: 20px;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  font-family: var();
  font-size: 16px;
  font-weight: 400;
  transition: all 0.7s;
}
.btn-inicio-historial:hover {
  background-color: #195a78;
  color: white;
  transform: scale(1.15);
}

/* ESTILO PARA LOS ELEMENTOS UI EN ACERCA SINASU */

.ui-elements {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.ui-1 {
  width: 280px;
  padding: 24px;
  background-color: #bdb1fe;
  color: #242422;
  border-radius: 30px;
  display: inline-block;
}
.titulo-pendiente {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  text-align: center;
}

/* ESTILO PARA EL ELEMENTO PENDIENTE DE DEPARTAMENTOS */

.seccion-pendientes {
  width: 100%;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.texto-pendiente {
  margin: 0;
}
.pendientes_total :hover {
  color: #fff;
  background-color: #bdb1fe;
  transform: scale(1.15);
}
.pendientes_total {
  border-radius: 10px;
  background-color: #242422;
  color: #fff;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: auto;
  text-decoration: none;
}
