.continer-agencias {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  /* border: 1px red solid; */
}
.boton-sinasu-agencias {
  width: 200px;
  /* height: 100%; */
  text-decoration: none;
}

.parte-sinasu-agencias figure {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
.parte-sinasu-agencias figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: all 0.5s;
}
.parte-sinasu-agencias figure:hover img {
  transform: scale(1.1);
}

.fondo-agencias {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(167, 112, 10, 0.5);
  transition: all 0.5s;
}
.parte-sinasu-agencias:hover .fondo {
  background-color: rgba(229, 158, 25, 0.6);
}

.fondo-agencias-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(3, 65, 89, 0.619);
  transition: all 0.5s;
}

.parte-sinasu-agencias:hover .fondo-2 {
  background-color: rgba(9, 65, 88, 0.9);
}

.parte-sinasu-agencias {
  width: 100%;
  height: 50px;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 100px;
  border-radius: 15px;
  border: 1px #8e8e8e solid;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
}

.parte-sinasu-agencias:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 0 #b4b4b4;
}

.parte-sinasu-agencias h1 {
  color: white;
  /* width: 100%; */
  text-align: center;
  /* height: 100px; */
  z-index: 20;
  font-size: 20px;
  text-shadow: 1px 1px 1px #333;
}

.parte-sinasu-agencias:hover h1 {
  text-shadow: 0 0 0 white;
}
.parte-sinasu-agencias i {
  color: white;
  z-index: 20;
  font-size: 20px;
  text-shadow: 1px 1px 1px #333;
}
.parte-sinasu-agencias:hover i {
  text-shadow: 0 0 0 white;
}

/* ----------------ESTILO PARA FILTRO PARA DOCUMENTACION-------------------------- */

.continer-agencias-filtros {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  /* border: 1px red solid; */
}
.boton-sinasu-agencias-filtros {
  width: 200px;
  /* height: 100%; */
  text-decoration: none;
}

.parte-sinasu-agencias-filtros figure {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
.parte-sinasu-agencias-filtros figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: all 0.5s;
}
.parte-sinasu-agencias-filtros figure:hover img {
  transform: scale(1.1);
}

.fondo-agencias-filtros {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(167, 112, 10, 0.5);
  transition: all 0.5s;
}
.parte-sinasu-agencias-filtros:hover .fondo {
  background-color: rgba(229, 158, 25, 0.6);
}

.fondo-agencias-filtros-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(3, 65, 89, 0.619);
  transition: all 0.5s;
}

.parte-sinasu-agencias-filtros:hover .fondo-2 {
  background-color: rgba(9, 65, 88, 0.9);
}

.parte-sinasu-agencias-filtros {
  width: 100%;
  height: 50px;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 100px;
  border-radius: 15px;
  border: 1px #8e8e8e solid;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
}

.parte-sinasu-agencias-filtros:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 0 #b4b4b4;
}

.parte-sinasu-agencias-filtros h1 {
  color: white;
  /* width: 100%; */
  text-align: center;
  /* height: 100px; */
  z-index: 20;
  font-size: 20px;
  text-shadow: 1px 1px 1px #333;
}

.parte-sinasu-agencias-filtros:hover h1 {
  text-shadow: 0 0 0 white;
}
.parte-sinasu-agencias-filtros i {
  color: white;
  z-index: 20;
  font-size: 20px;
  text-shadow: 1px 1px 1px #333;
}
.parte-sinasu-agencias-filtros:hover i {
  text-shadow: 0 0 0 white;
}
