.input {
  width: 100%;
  border: none;
  border-radius: 10px;
  background: rgb(205, 218, 226);
  background-color: transparent;
  padding: 20px;
  border-bottom: 2px solid rgb(188, 188, 188);
  /* border-right: 2px solid rgb(188, 188, 188); */
  transition: all 0.3s;
  color: black !important;
  font-weight: 500;
  font-size: 17px;
  box-shadow: 1px 1px 2px rgb(238, 238, 238);
  margin-bottom: -5px;
  margin-left: -15px;
  outline: none !important;

  /* background-image: url(../../images/itm-merida-fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(20%); */
}
.inputmodal {
  color: rgb(5, 5, 5) !important;
  /* color: rgb(2, 253, 2) !important; */
  text-transform: uppercase;
  font-weight: 500;
}
.inputmodal_ineditable {
  /* color: rgba(139, 41, 41, 1) !important; */
  /* color: rgb(3, 167, 3) !important; */
  color: #57b102 !important;
  font-weight: 500;
}
.campo {
  position: relative;
}
.campo img {
  width: 95%;
  height: 100%;
  object-fit: cover;
  filter: brightness(20%);
  background-color: aliceblue;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 2%;
  z-index: -10;
  /* border: 1px red solid; */
}

.input:focus {
  border-bottom: 2px solid rgba(139, 41, 41, 0.637);
  border-right: 2px solid rgba(139, 41, 41, 0.644);
}

.input::placeholder {
  font-size: 16px;
  font-weight: normal;
  color: white;
  padding: 15px;
  /* border: 1px red solid; */
}

span .placeholder_otrocolor {
  color: rgba(139, 41, 41) !important;
}

.error__text {
  color: red;
  font-size: 12px;
  padding-left: 10px;
}

.input__select {
  font-size: 17px;
}
